# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo

# IDE specific files
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# Miscellaneous
*.DS_Store